{% extends "layout/base.html" %}

{% block title %}Page not found{% endblock %}

{% block content %}

   <div class="jumbotron">
	 	<div class="container">
	        
	        <h1>Page not found</h1>
	          	
	        <p>Go back, you're drunk. The page you are calling is not found. You better have to go to <a href="/">homepage</a>.</p>

	        <p>
	        	<a class="btn btn-primary btn-lg" role="button" href="/">
	        		<span class="icon-home"></span> Go home
	        	</a>
	        </p>	        

		  	<hr>

	 	</div>
	</div>

{% endblock %}
